*.json
*.pickle
*.pkl
*.pcl
*.csv

intermediate_results_code_search
intermediate_results_code_distance_during_ongoing_code_search
search_codes_worker_script*.py

.DS_Store
venv
*.pyc

*.png
*.jpg
*.jpeg