blinker==1.7.0
bposd==1.6
cffi==1.15.1
click==8.1.7
contourpy==1.2.0
cycler==0.12.1
Flask==3.0.2
fonttools==4.50.0
galois==0.3.8
importlib_metadata==7.1.0
importlib_resources==6.4.0
itsdangerous==2.1.2
Jinja2==3.1.3
kiwisolver==1.4.5
ldpc==0.1.51
llvmlite==0.42.0
MarkupSafe==2.1.5
matplotlib==3.8.3
mip==1.15.0
networkx==3.2.1
numba==0.59.1
numpy==1.26.4
packaging==24.0
pandas==2.2.1
panqec==0.1.6
pillow==10.2.0
psutil==5.9.8
pycparser==2.21
PyMatching==2.0.1
pyparsing==3.1.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
retworkx==0.14.2
rustworkx==0.14.2
scipy==1.12.0
six==1.16.0
tqdm==4.66.2
typing==3.7.4.3
typing_extensions==4.10.0
tzdata==2024.1
Werkzeug==3.0.1
z3-solver==4.13.0.0
zipp==3.18.1
